<div id="home-container">
  {{#each books as |book| }}
  <div class="book-container">
    <p class="book-icon">📖</p>
    {{!-- <div class="col-md-5"> --}}
      <h2 id="book-title">
        <a href="/Books/{{book.id}}">{{book.title}}</a>
      </h2>
      <div class="p-margin">
        <p class="top-margin"><span>{{ book.author }}</span></p>
        <p class="top-margin">Posted by {{book.user.name}} </p>
        <p class="top-margin">
          <span class="dollar-amount">${{format_amount book.price}}</span> <!-- books.price  -->
        </p>
      </div>
    {{!-- </div> --}}
  </div>
  {{/each}}
</div>