<!-- Loop over each object in the projects array -->
<div id="home-container">
{{#each projects as |project| }}

  <div class="book-container">
    <p class="book-icon">📖</p>
    <h2 id="book-title">
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      {{!-- <span for="img" aria-label="money"></span> --}}
      <!-- Pass needed_funding value to the helper function -->
      Cost: $
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span> <!-- books.price  -->
    </p>
    <p>Posted by {{project.user.name}} on {{format_date project.date_created}}
    </p>
  </div>
{{/each}}
</div>