<div>
  <h2>{{name}}</h2>
  <br>
  <div class="flex-box">
    <div id="thumbnail"></div>
    <div>
      <h3>Description:</h3>
      <p>{{description}}</p>
      <h3>Author:</h3>
      <p>{{user.name}}</p>
      <h3>Date:</h3>
      <p>{{format_date date_created}}</p>
      <h3>Price:</h3>
      <p><span>${{format_amount needed_funding}}</span></p>
      <p>
        <address>
            <a href="mailto:{{user.email}}"><button class="btn btn-primary">Contact Seller</button></a>
        </address>
      </p>
    </div>
  </div>
</div>
